@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap"); /*구글 폰트에서 embed 눌러서 나온 코드*/
@import "reset.css"; /*reset css는 기본으로 설정된 모든 margin 등을 제거함  */
@import "variables.css"; /*variables.css는 색이나 몇가지 속성을 변수로 저장한다.*/

/*위의 것들이 먼저 와야 아래에 적용된다. Cascading!*/

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
/*import 기능은 현재의 styles.css 파일로 다른 css 파일을 import하여 html에 연계한다*/

body {
  color: #2f363e;
  font-family: "Noto Sans TC", sans-serif;
  height: 100vh;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

.reddot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  right: -8px;
  top: -12px;
}

@keyframes hiddenHeart {
  0% {
    opacity: 0;
    color: white;
  }
  50% {
    opacity: 1;
    color: purple;
    transform: scale(1.3);
  }
  100% {
    opacity: 0;
    color: white;
  }
}

.hidden-heart i {
  opacity: 0;
  font-size: 120px;
  margin-top: 50px;
  margin-left: 160px;
}

.hidden-heart i:hover {
  animation: hiddenHeart 0.7s linear infinite;
}
