#chat-screen {
  background-color: var(--chat-background);
}

.status-bar__chat-screen {
  position: fixed;
  top: 0;
  width: 100%;
  /*status-bar를 위에 고정하기 위한 코드를 위에 작성*/
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  background-color: var(--chat-background);
  z-index: 1;
}

#chat-screen .alt-header {
  background-color: var(--chat-background);
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 25px;
  animation: fadeIn 0.8s linear;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.message__author {
  margin-bottom: 5px;
  display: block;
  z-index: -2;
  position: relative; /*z-index를 설정하기 위한 코드*/
}

.message__bubble {
  background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
  z-index: -2;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--green);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}
.reply input {
  padding: 10px;
  width: 100%; /*여기에 width 주려면 부모인 reply__column에 width를 줘야 한다*/
  border: var(--main-border);
  box-sizing: border-box;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply__column button {
  background-color: var(--green);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.5s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 98vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}

@keyframes Lmessage {
  from {
    opacity: 0;
    transform: rotateY(720deg) translateY(800px);
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes Rmessage {
  from {
    opacity: 0;
    transform: rotateY(-720deg) translateY(800px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  animation: Lmessage 2s ease-in-out;
}

.message-row--own {
  animation: Rmessage 2s ease-in-out;
}

@keyframes theRose {
  from {
    opacity: 0;
    transform: translateY(90px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.the_rose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: theRose 2s ease-in-out;
}

.the_rose i {
  margin: 25px 0px;
}
.song_title {
  font-weight: 600;
  font-size: 20px;
}
