#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  padding: 0px 10px;
  color: #d5d5d5;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--grey-letter);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden; /*이게 없으면 첫 화면 지나가도 클릭 등이 안됨 */
  }
}

#splash-screen {
  background-color: var(--green);
  position: absolute; /*body 기준으로 움직일 것*/
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  animation: hideSplashScreen 0.4s ease-in-out forwards; /*forwards는 마지막 상태를 유지한다. opacity를 0으로 유지하게 된다.*/
  animation-delay: 1s; /*설정 시간이 지난 후 애니메이션 작동*/
}
